.aboutUS__section {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.aboutUS__section.author__block-photo {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  height: 400px;
}
.aboutUS__section.description__text{
  font-size: 16px;
  color: #333;
  text-align: justify;
}
.aboutUS__section.author__block-text{
  font-weight: bold;
  padding-bottom: 20px;
  color: #333;
  font-family: 'Lang', cursive;
}
.aboutUS__section.description__title{
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: -10px;
}
& .separate-line {
  height: 2px;
  width: 50px;
  border: none;
  background-color: rgb(210, 74, 67);
  display: block;
  margin: 10px auto;
  box-shadow: 6px 6px rgb(210, 74, 67);
  margin-bottom: 20px;
}
@media (min-width: 481px) and (max-width: 992px){

  .aboutUS__section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .aboutUS__section.description,
  .aboutUS__section.author__block {
    flex-direction: column;
    justify-content: center;
    width: 50%;
    letter-spacing: 2px;
  }
  .aboutUS__section.description__text{
    padding: 0 20px;
    font-size: 18px;
  }
  .aboutUS__section.author__block-photo {
    max-width: 300px;
    max-height: 550px;
  }
}

@media (min-width: 992px) {
  .aboutUS__section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .aboutUS__section.description,
  .aboutUS__section.author__block {
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .aboutUS__section.description__text{
    font-size: 22px;
    padding: 0 20px;
  }
  .aboutUS__section.author__block-photo {
    width: 500px;
   height: 750px;
  }
}