.footer{
  &__section{
    margin-top: 20px;
    background-color: #333333;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-title {
      padding-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    &-separate-line {
      height: 2px;
      width: 50px;
      border: none;
      background-color: rgb(210, 74, 67);
      display: block;
      margin: 20px auto;
      box-shadow: 6px 6px rgb(210, 74, 67);
    }

    &-contacts-logo{
      background-image: url("../img/logo-tadam.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
    }
    &-contacts-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;

      &__location{
        color: #f2f2f2;
        cursor: pointer;
        & i{
          color: rgb(210,74,67);
        }
      }
      &__location:hover{
        color: rgb(210,74,67);
        transition: 300ms ease;
      }
      &__phone{
        color: #f2f2f2;
        & i{
          color: rgb(210,74,67);
        }
      }
      &__phone:hover{
        color: rgb(210,74,67);
        transition: 300ms ease;
      }
      &__schedule{
        color: #f2f2f2;
        & i{
          color: rgb(210,74,67);
        }
      }
      &__social-links{
        align-self: center;
        text-align: center;
        font-size: 25px ;
        & i {
          color: rgb(210,74,67);
          font-size: 30px ;
        }
        & .fa-instagram{
          color:rgb(210,74,67);
        }
        & .fa-facebook-square{
          color: rgb(210,74,67);
        }
        & .fa-facebook-square:hover{
          color: royalblue;
        }

      }
    }

    &-map{
    box-shadow: 3px 3px 10px 2px #000000;
      justify-content: center;
      #mapid { height: 350px; min-width: 320px}
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {

}

@media (min-width: 993px) {
.footer__section {
  background: #333333;
  display: flex;
  justify-content: space-around;

  &-map{
    #mapid { height: 350px;width:40vw}
  }
}
}