.footer{

  &__section{
    background-color: rgb(211,210,210);
    padding: 15px 20px;

    &-contacts-logo{
      background-image: url("../img/logo-tadam.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
    }
    &-contacts-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;

      &__location{
        color: rgb(32,22,0);
        cursor: pointer;
        & i{
          color: rgb(210,74,67);
        }
      }
      &__phone{
        color: rgb(32,22,0);
        & i{
          color: rgb(11, 252, 3);
        }
      }
      &__schedule{
        color: rgb(32,22,0);
        & i{
          color: rgb(210,74,67);
        }
      }
      &__social-links{
        text-align: center;
        font-size: 25px ;
        & i {
          color: rgb(210,74,67);
        }

      }
    }

    &-map{

      justify-content: center;
      #mapid { height: 250px; width: 100% }
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {

}

@media (min-width: 993px) {

}