.wrapper {
  min-width: 320px;
}

.header__section {
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
  height: 70px;
}

.header__section-logo-link {
  display: flex;
  align-items: center;
}

.header__section-logo-img {
  width: 70px;
  height: 68px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

.header__menu-button {
  width: 26px;
  height: 30px;
  background: transparent;
  position: relative;
  padding: 0;
  border: none;
  outline: none;
  display: block;

  &-lines,
  &-lines::after,
  &-lines::before {
    position: absolute;
    width: 26px;
    height: 3px;
    top: calc(50% - 1px);
    left: calc(50% - 13px);
    transition: all 0.3s;
    background: black;
    border-radius: 5px;
  }

  &-lines::after {
    content: "";
    top: 8px;
  }

  &-lines::before {
    content: "";
    width: 13px;
    top: -8px;
    left: calc(50%);
  }

}


.header__menu-button.active .header__menu-button-lines {
  background-color: transparent;
}

.header__menu-button.active .header__menu-button-lines::before {
  background: red;
  top: 0;
  transition: all 0.2s;
  transform: rotate(45deg);
  width: 26px;
  left: calc(50% - 13px);
}

.header__menu-button.active .header__menu-button-lines::after {
  background: red;
  top: 0;
  transition: all 0.2s;
  transform: rotate(-45deg);
}


.header__section-logo-text {
  margin-left: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
}

.header__section-logo-link:hover .header__section-logo-img, {
  border: 1px solid red;
  box-shadow: 0 0 22px -5px red;
};


.header__section-logo-link:hover .header__section-logo-text {
  margin-left: 4px;
  color: red;
}

.header__section-menu {
  display: none;
}

.header__section-menu.mobile {
  display: block;
  position: absolute;
  top: 81px;
  left: 99px;
  width: calc(100% - 100px);
  background: #333;
  opacity: 0.9;
  box-shadow: 0 0 20px 7px #000;
  border-radius: 10px;
}

.header__section-menu-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px;
}

.header__section-menu-link a {
  color: black;
}

.header__section-menu-link a:hover {
  color: red;
  border-bottom: 1px solid red;
  font-size: 20px;
  margin-left: 20px;
}

.header__section-contacts {
  display: none;
}

@media (min-width: 481px) and (max-width: 992px) {
  .header__section-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .header__menu-button {
    display: none;
  }
  .header__section-menu-link {
    font-size: 15px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
  }
  .header__section-menu-link:nth-child(5):after {
    border-right: none;
  }
  .header__section-menu-link:after {
    content: "";
    margin-left: 20px;
    border-right: 2px solid black;
  }

  .header__section-menu-link a:hover {
    color: red;
    border-bottom: 1px solid red;
    font-size: 15px;
    margin-left: 0;
  }

}

@media (min-width: 993px) {
  .header__section-menu {
    display: flex;
  }
  .header__section-logo-text {
    font-size: 30px;
  }
  .header__section-menu-link {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .header__section-menu-link a:hover {
    color: red;
    border-bottom: 1px solid red;
    font-size: 18px;
    margin-left: 0;
  }
  .header__menu-button {
    display: none;
  }

  .header__section-contacts {
    display: flex;
    align-items: center;
  }
  .phone__logo {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .facebook__logo,
  .instagram__logo {
    padding: 5px;
  }

  .fa-phone-square-alt,
  .fa-facebook-square,
  .fa-instagram {
    font-size: 20px;
    color: white;
  }

  .phone__logo:hover {
    color: red;
  }

  .fa-phone-square-alt:hover,
  .fa-facebook-square:hover,
  .fa-instagram:hover {
    color: red;
  }
  .header__section-menu-link:nth-child(5):after {
    border-right: none;
  }
  .header__section-menu-link:after {
    content: "";
    margin-left: 10px;
    border-right: 2px solid black;
    margin-right: 10px;
  }
}