.services {
  background-color: #f5f5f5;
  display: flex;
  justify-items: center;

  &__separate-line {
    height: 2px;
    width: 50px;
    border: none;
    background-color: rgb(210, 74, 67);
    display: block;
    margin: 20px auto;
    box-shadow: 6px 6px rgb(210, 74, 67);
  }

  &__section {
    padding: 0 20px;
    margin-top: 25px;
    display: grid;
    grid-gap: 10px;


    &-title {
      padding-top: 10px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    &-inner {
      position: relative;
      z-index: 3;
    }

    &-type {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: 200px;
      background-size: cover;
      background-position: 25% 75%;
      background-repeat: no-repeat;
      box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);

      .type-name {
        padding: 10px;
        text-transform: uppercase;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 5px black;
      }
    }

    &-type:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      z-index: 2;
    }

    .podology {
      background-image: url("../img/podology.jpg");
    }

    .nails-service {
      background-image: url("../img/nails.jpg");
    }

    .cosmetology {
      background-image: url("../img/cosmetology.jpg");
    }

    .hair-care {
      background-image: url("../img/hair-care.jpg");
    }

    .body-care {
      background-image: url("../img/body-care.jpg");
    }

    .eyebrows-care {

      background-image: url("../img/eyebrows.jpg");
    }
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.services-item {
  color: whitesmoke;
  font-size: 14px;
  display: none;

  &-header {
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    text-shadow: 2px 2px 5px black;
  }
}

.open-services-list-button {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 40px;
  width: 40px;
  cursor: pointer;

  & .fa-chevron-circle-down {
    font-size: 20px;
  }
}

.open-services-list-button:hover {
  color: rgb(210, 74, 67);
  transition: 300ms ease;
}

@media (min-width: 481px) and (max-width: 992px) {
  .services {
    &__section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content repeat(2, 1fr);
      gap: 5px;
    }
  }
}

@media (min-width: 993px) {
  .services {
    &__section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content repeat(2, 1fr);
      gap: 15px;

      &-type {
        height: 500px;
      }
    }
  }
  .services-item {
    display: block;
  }

  .services-item {
    color: whitesmoke;
    font-size: 18px;
    padding-bottom: 15px;
    padding-left: 25px;

    &-header {
      color: whitesmoke;
      font-weight: bold;
      font-size: 18px;
      padding-left: 10px;
      text-shadow: 2px 2px 5px black;
      padding-bottom: 15px;
    }
  }
  .fa-chevron-down{
    display: none;
  }
  .tab{
    display: block;
  }
}

